export GCP_PROJECT=roi-big-kahuna
export GCP_REGION=us-central1
export GCP_ZONE=us-central1
export GCP_MACHINE=n1-standard-2
export GCP_NUMNODES=1
export GCP_MINNODES=1
export GCP_MAXNODES=2
export ISTIO_PATH=~/istio-1.1.0
export ISTIO_AUTH=MTLS_PERMISSIVE # OR MTLS_STRICT
export INGRESS_YAML=$ISTIO_PATH/samples/bookinfo/networking/bookinfo-gateway.yaml
export APPLICATION_YAML=$ISTIO_PATH/samples/bookinfo/platform/kube/bookinfo.yaml
export ADAPTER_PATH=~/apigee-istio-adapter
export APIGEE_ORGANIZATION=navti-eval
export APIGEE_ENVIRONMENT=test
export APIGEE_MIXER_VERSION=1.0.3
